@using FastBar.Models

@model FastBar.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />


    <h6>Login Settings</h6>
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
            @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
            @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>External Logins:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Manage", "ManageLogins") ]
        </dd>        
    </dl>
    <hr />

    <h6>Payment Information</h6>
    @if (Model.creditCard.hasCard == false)
    {
        @Html.Partial("AddCreditCard", new StripeTokenModel { });
    }
    else
    {       
        <div class="card-display row">
            <div class="col-xs-1 col-md-1 cc @Html.DisplayFor(Model => Model.creditCard.CreditCardType)"></div>
            <div class="col-xs-4 col-md-4 name">@Html.DisplayFor(Model => Model.creditCard.CardHolderName)</div>
            <div class="col-xs-3 col-md-3 number">@Html.DisplayFor(Model => Model.creditCard.CardNumber)</div>            
            <div class="col-xs-3 col-md-3 expiration">@Html.DisplayFor(Model => Model.creditCard.ExpirationMonth) / @Html.DisplayFor(Model => Model.creditCard.ExpirationYear)</div>
            <div class="col-xs-1 col-md-1 delete"><button type="button" onclick="DeleteCC();" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        </div>

        using (Html.BeginForm("DeleteCC", "Manage", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "deleteCC" }))
        {
            @Html.AntiForgeryToken()
        }

        <script type="text/javascript">
            function DeleteCC() {
                console.log("deleting");
                var $form = $('#deleteCC').get(0).submit();
            }
        </script>
    }
    

</div>
